<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niuke.niukeservice.mapper.HomeMapper">

   <select id="login" resultMap="userMap">
    select * from t_user WHERE user_name=#{userName};
   </select>
<update id="updateUser">
 update t_user set
        user_name = #{userName},
        pass_word = #{passWord}

  where id = #{id}

</update>
    <resultMap id="userMap" type="user" autoMapping="true"/>
    <sql id="user">id,user_name,pass_word</sql>
</mapper>
